<html>

<head>
    <title>server_page</title>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src='/public/server.js'></script>
    <script src='/public/bannerUpload.js'></script>
    <script src='/public/showDetail.js'></script>

    <input type='file' id="baseFile" />
    <form action="">
        <button id='imgbutton'>배너 전송</button>
    </form>
    <select id="idReceiver"></select>
    <button id="idSelectImgButton">전송하기</button>
    <p>
        <strong>현재 광고 대기열</strong>
    </p>
    <div id="dbImg">
        <% for (let item in imgSource ){%>

        <p><input id="chkImg1" type="checkbox" name=<%= imgSource[item].name %> value=<%= imgSource[item].path %>></p>
        <!-- <a href=#<%= imgSource[item].name %>> -->
        <img id=<%= imgSource[item].name %> src=<%= imgSource[item].path %> title=<%= imgSource[item].name %> />
        <!-- </a> -->

        <%= imgSource[item].name %>
        <% }; %>
    </div>

    <button id="chkBoxButton">체크박스 보내기</button>
</body>

</html>